.bookshelf-item
  list-style none

  figure > a
    background-color #f8f8f8

  .frame
    padding-bottom 140%
    position relative

  img
    height 100%
    position absolute
    top 0
    width @height

  figcaption
    height 5em
    overflow hidden
