.header
  align-items center
  border-bottom 1px solid #ccc
  display flex
  height 30rem
  justify-content space-between
  margin-bottom 6rem
  padding-right 3rem

  h1
    font-family Dosis, sans-serif
    font-size 10rem

    a
      color inherit
      cursor pointer
